DATABASE_URL=postgresql://postgres.wyjyjbqmeuxxwujcyhmv:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres

ORDERS_ENDPOINT=https://jzozteoirwfczccltcdr.supabase.co/rest/v1/orders_raw?apikey=sb_publishable_Xwjiw--qkKcbMuSbKd6I2w_wN9mpNTv